---
layout: default
title: Home
---

{% include nav.html %}

<main>
  <div class="row-wrap">
    <h2>
      <u class="header-underline">All Posts</u>
    </h3>
  </div>

  <!-- Show last 5 posts here -->
  {% for post in site.posts %}
  {% assign year = post.date | date: "%Y" %}

  {% if year != prev_year %}
  <div class="row-wrap">
    <h3 style="text-align: center;">{{year}}</h3>
  </div>
  {% endif %}
  {% assign prev_year = year %}

  {% if post.external_url %}
  <a href="{{post.external_url}}" target="_blank" class="block-link">
  {% else %}
  <a href="{{site.baseurl}}{{post.url}}" class="block-link">
  {% endif %}
    <article class="row-wrap post-preview">
      <h3 class="post-preview__title">
        {{ post.title }}
      </h3>
      <p class="post-preview__body">
        {% if post.readtime %}({{ post.readtime }} read){% endif %}
        {{ post.description }}
      </p>
    </article>
  </a>
  {% endfor %}

</main>
