---
title: Photos
layout: default
description: Pictures I have taken that I like.
---

{% include nav.html %}
{% assign filtered_photos = site.photos | where:"show", true %}

<main>
    <div class="row-wrap">
        <h2>Photography</h2>
        <p>Pictures I have taken that I like.</p>
    </div>

    {% for photo in filtered_photos %}
    <div class="row-wrap-wide photo-container">
        <a href="{{ photo.url }}" class="no-highlight">
            <img src="{{ photo.filepath }}" width="{{ photo['ImageWidth'] }}" height="{{ photo['ImageHeight'] }}"
                loading="lazy" class="photo">
        </a>
        <p>{{ photo['Title'] }}</p>
        <p><small>
                {{ photo['DateTimeOriginal'] | date:"%b %-d, %Y" }} &middot; {{ photo['Model'] }} &middot; ISO {{
                photo['ISO'] }} &middot;
                f{{ photo["FNumber"] }}
            </small></p>
    </div>
    {% endfor %}
</main>