---
title: Photos
layout: default
description: Pictures I have taken that I like.
---

{% include nav.html %}
{% assign filtered_photos = site.photos | where:"show", true %}

<main>
    <div class="row-wrap">
        <h2>Some of my Photography</h2>
    </div>

    {% for photo in filtered_photos reversed %}
    <div class="row-wrap-wide photo-container">
        <a href="{{ photo.url }}" class="no-highlight">
            <img src="{{ photo.image }}" width="{{ photo['ImageWidth'] }}" height="{{ photo['ImageHeight'] }}"
                loading="lazy" class="photo" title="{{ page.description }}">
        </a>
        <p>{{ photo['Title'] }}</p>
        <p><small>
                {{ photo['DateTimeOriginal'] | date:"%b %-d, %Y" }} &middot; {{ photo['Model'] }} &middot; ISO {{
                photo['ISO'] }} &middot;
                {{ photo["ExposureTime"] }} &middot;
                f{{ photo["FNumber"] }} &middot;
                {{ photo["LensID"] }}
            </small></p>
    </div>
    {% endfor %}
</main>