<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{{ site.name }}{% if page.title %} 🍖 {{ page.title }} {% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Respect user dark/light theme choice -->
    <meta name="color-scheme" content="dark light">

    <link rel="stylesheet" href="{{ '/static/css/style.css?b6aed1a20e8dea022a7441e0db7bfe75' | prepend: site.baseurl}}" />
    <meta name="description"
        content="{% if page.description %}{% if page.readtime %}({{ page.readtime }} read) {% endif %}{{page.description}}{% else %}{{site.description}}{% endif %}" />
    <meta name="author" content="{{site.author}}" />
    <link rel="author" href="humans.txt" />
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{ '/feed.xml' | prepend: site.baseurl}}" />

    <!-- Page Meta for SEO and Social Sharing -->
    <!-- Default Facebook Open Graph tags -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{% if page.url %}{{ site.url }}{{ page.url }}{% else %}{{ site.url }}{% endif %}">
    <meta property="og:title" content="{{ site.name }}{% if page.title %} 🍖 {{ page.title }}{% endif %}">
    <meta property="og:description"
        content="{% if page.description %}{% if page.readtime %}({{ page.readtime }} read) {% endif %}{{page.description}}{% else %}{{site.description}}{% endif %}">
    <meta property="og:image"
        content="{{site.url}}{{site.baseurl}}{% if page.image %}{{page.image}}{% else %}{{site.image}}{% endif %}">
    <meta property="og:image:alt" content="williamhuster.com">

    <!-- Default Twitter Card tags (additive to FB tags) -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" value="{% if page.url %}{{ site.url }}{{ page.url }}{% else %}{{ site.url }}{% endif %}" />
    <meta name="twitter:title" value="{{ site.name }}{% if page.title %} 🍖 {{ page.title }}{% endif %}" />
    <meta name="twitter:description"
        value="{% if page.description %}{% if page.readtime %}({{ page.readtime }} read) {% endif %}{{page.description}}{% else %}{{site.description}}{% endif %}">
    <meta name="twitter:image"
        content="{{site.url}}{{site.baseurl}}{% if page.image %}{{page.image}}{% else %}{{site.image}}{% endif %}" />
    <meta name="twitter:url" value="{{site.url}}" />

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ "/static/images/favicon.png" | absolute_url }}" />

    <!-- Apple Touch Icons -->
    <link rel="apple-touch-icon" href="{{"/static/images/apple-touch-icon.png" | absolute_url }}">
    <link rel="apple-touch-icon-precomposed" href="{{"/static/images/apple-touch-icon.png" | absolute_url }}">

    <!-- Android icon -->
    <link rel="icon" href="{{"/static/images/apple-touch-icon.png" | absolute_url }}">

    <!-- MathJax for formatting formulas -->
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
</head>

<body>
    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    <!-- <script src="{{site.baseurl}}/scripts.js"></script> -->
    {% if jekyll.environment == 'production' %}
    {% include analytics.html %}
    {% endif %}
</body>

</html>