<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{site.baseurl}}/style.css" />
        <meta name="description" content="{{site.description}}"/>
        <meta name="author" content="{{site.author}}"/>
        <link rel="author" href="humans.txt"/>
        <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}/feed.xml" />

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="{{site.baseurl}}/static/images/favicon.png" />

        <!-- Apple Touch Icons -->
        <link rel="apple-touch-icon" href="{{site.baseurl}}/static/images/apple-touch-icon.png">
        <link rel="apple-touch-icon-precomposed" href="{{site.baseurl}}/static/images/apple-touch-icon.png">

        <!-- Android icon -->
        <link rel="icon" href="{{site.baseurl}}/static/images/apple-touch-icon.png">

    </head>

    <body>
        <header>
            <p>{{ site.name }}, {{ site.description }}</p>
        </header>

        {{ content }}

        <footer>
            <hr>
            <address>
                <p>
                    &copy; <time>{{ site.time | date: '%Y' }}</time>
                    {{site.author}}
                    <a href="mailto:{{site.author_email}}">{{site.author_email}}</a>
                </p>
            </address>
            <a href="{{site.baseurl}}/gpg.txt">GPG</a>
        </footer>

        <!-- <script src="{{site.baseurl}}/scripts.js"></script> -->
    </body>

</html>